# Import Library

In [1]:
import pandas as pd

# Load Dataset

In [3]:
df = pd.read_csv('../data/car_prices.csv')

# Dataset Preview

In [4]:
df.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

# Shape of Dataset

In [6]:
print("Jumlah Baris dan Kolom:")
print(df.shape)

Jumlah Baris dan Kolom:
(558837, 16)

# Data Types

In [10]:
num_cols = len(df.select_dtypes(include=['int64', 'float64']).columns)
cat_cols = len(df.select_dtypes(include=['object']).columns)

print("Kolom numerik:", num_cols)
print("Kolom kategorikal:", cat_cols)

Kolom numerik: 5
Kolom kategorikal: 11

# Nama Kolom & Jumlah Nilai Unik

In [12]:
unique_vals = pd.DataFrame({
        'Kolom': df.columns,
        'Tipe Data': df.dtypes.values,
        'Jumlah Nilai Unik': df.nunique().values
    })

print(unique_vals)

           Kolom Tipe Data  Jumlah Nilai Unik
0           year     int64                 34
1           make    object                 96
2          model    object                973
3           trim    object               1963
4           body    object                 87
5   transmission    object                  4
6            vin    object             550297
7          state    object                 64
8      condition   float64                 41
9       odometer   float64             172278
10         color    object                 46
11      interior    object                 17
12        seller    object              14263
13           mmr   float64               1101
14  sellingprice   float64               1887
15      saledate    object               3766

# Missing Values

In [14]:
missing = df.isnull().sum()
missing = missing[missing > 0].sort_values(ascending=False)

if not missing.empty:
    missing_df = pd.DataFrame({
        "Nama Kolom": missing.index,
        "Jumlah Nilai Hilang": missing.values
    })
    print(missing_df)
else:
    print("Tidak terdapat nilai yang hilang dalam dataset.")

      Nama Kolom  Jumlah Nilai Hilang
0   transmission                65352
1           body                13195
2      condition                11820
3           trim                10651
4          model                10399
5           make                10301
6          color                  749
7       interior                  749
8       odometer                   94
9            mmr                   38
10  sellingprice                   12
11      saledate                   12
12           vin                    4

# Duplicate Rows

In [15]:
dup_count = df.duplicated().sum()
print("Jumlah baris duplikat dalam dataset:", dup_count)

Jumlah baris duplikat dalam dataset: 0

# Statistik Numerik

In [16]:
df.describe()

,year,condition,odometer,mmr,sellingprice
count,558837.000000,547017.000000,558743.000000,558799.000000,558825.000000
mean,2010.038927,30.672365,68320.017767,13769.377495,13611.358810
std,3.966864,13.402832,53398.542821,9679.967174,9749.501628
min,1982.000000,1.000000,1.000000,25.000000,1.000000
25%,2007.000000,23.000000,28371.000000,7100.000000,6900.000000
50%,2012.000000,35.000000,52254.000000,12250.000000,12100.000000
75%,2013.000000,42.000000,99109.000000,18300.000000,18200.000000
max,2015.000000,49.000000,999999.000000,182000.000000,230000.000000

# Statistik Kategorikal

In [17]:
df.describe(include='object')

,make,model,trim,body,transmission,vin,state,color,interior,seller,saledate
count,548536,548438,548186,545642,493485,558833,558837,558088,558088,558837,558825
unique,96,973,1963,87,4,550297,64,46,17,14263,3766
top,Ford,Altima,Base,Sedan,automatic,automatic,fl,black,black,nissan-infiniti lt,Tue Feb 10 2015 01:30:00 GMT-0800 (PST)
freq,93554,19349,55817,199437,475915,22,82945,110970,244329,19693,5334

# Korelasi Antar Kolom Numerik

In [18]:
corr = df.select_dtypes(include=['int64', 'float64']).corr()
print(corr)

                  year  condition  odometer       mmr  sellingprice
year          1.000000   0.340320 -0.772737  0.596631      0.586480
condition     0.340320   1.000000 -0.318188  0.281415      0.321944
odometer     -0.772737  -0.318188  1.000000 -0.588113     -0.582393
mmr           0.596631   0.281415 -0.588113  1.000000      0.983635
sellingprice  0.586480   0.321944 -0.582393  0.983635      1.000000